/* @import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* font-family: "Cinzel", serif; */
  /* font-family: "EB Garamond", serif; */
  /* font-family: "Spectral", serif; */
  font-family: "Cardo", serif;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  /* filter: blur(6px); */
}

/* body {
} */

.page-transition {
  opacity: 60;
  /* background: black; */
  /* transform: translateY(40px); */
  filter: blur(6px);
}

/* .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .perspective-1000 {
    perspective: 1000px;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
}

